@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    the "ViewBag" is something that holds information across all views. We can set what the value of the title is by using the ViewBag
*@
@{

    ViewBag.Name = "Hailey Hullinger";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Name</title>
    <!--css style sheet-->
    <link href="css/main.css" rel="stylesheet" />
    <!--icon-->
    <link rel="icon" type="image/png" href="img/icon.png" />
</head>
<body>

    <h3 id="name">@ViewBag.Name</h3>

    <br />

    <!--Picture-->
    <img class="center" src="img/skiing.jpg" width="400" height="400" id="image" />
    <h4> What I hope to get out of this class:</h4>
    <p>I hope to gain a more solid programming knowledge base during my time as a student in IS 413. I have no previous experience with ASP.NET, but I am confident that I will be able to take my experience from previous coding environments that I have learned and apply them here. I am excited to get started!</p>
    <h4>My list of top 3 jobs:</h4>
    <ol>
        <li>Systems Analyst</li>
        <li>Technology Consultant </li>
        <li>Network Administration</li>
    </ol>

    <!--Grade Calculation form-->
    <h3>Grade Calculation</h3>
    <p>Please insert your percentage received for each category to calculate your grade</p>

    <form>
        <fieldset>
            <label>Assignments: </label>
            <input id="assignments" /> <br /> <br />
            <label>Group Projects: </label>
            <input id="group" /> <br /> <br />
            <label>Quizzes: </label>
            <input id="quizzes" /> <br /> <br />
            <label>Exams: </label>
            <input id="exams" /> <br /> <br />
            <label>Intex: </label>
            <input id="intex" /> <br /> <br />
            <input type="submit" value="Calculate" id="calcButton" />
        </fieldset>
    </form>


    <!--link to javascript-->
    <script src="js/grade.js"></script>

    <!--link to jquery file in the npm-->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>
