@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.Name = "HH - Grade Calc";
    ViewBag.Title = "Calculate Your Grade";
}

@model GradeModel
<body>
    <!--Grade Calculation form-->
    <p>Please insert your percentage received for each category to calculate your grade</p>

    <!--when adding to the model, we have to have method = "post" and a name ("name" property is
        replaced with asp-for property) for every input to use in the model-->
    <form method="post">
        <fieldset>
            <label>Assignments: </label>
            <input id="assignments" asp-for="Assignments" /> <br /> <br />
            <label>Group Projects: </label>
            <input id="group" asp-for="Group" /> <br /> <br />
            <label>Quizzes: </label>
            <input id="quizzes" asp-for="Quizzes"/> <br /> <br />
            <label>Exams: </label>
            <input id="exams" asp-for="Exams"/> <br /> <br />
            <label>Intex: </label>
            <input id="intex" asp-for="Intex"/> <br /> <br />
            <input type="submit" value="Calculate" id="calcButton" />

            <!--gives user the info about the validations for the model if violated-->
            <div asp-validation-summary="All"></div>
        </fieldset>
    </form>

    
    
</body>