@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    the "ViewBag" is something that holds information across all views. We can set what the value of the title is by using the ViewBag
*@
@{

    ViewBag.Name = "Hailey Hullinger";
    ViewBag.Title = "Hailey Hullinger's site";
}

<!--this page will have all things from the shared layout page PLUS these additional items-->
<body>

   

    <!--Picture-->
    <img class="center" src="img/skiing.jpg" width="400" height="400" id="image" />
    <h4> What I hope to get out of this class:</h4>
    <p>I hope to gain a more solid programming knowledge base during my time as a student in IS 413. I have no previous experience with ASP.NET, but I am confident that I will be able to take my experience from previous coding environments that I have learned and apply them here. I am excited to get started!</p>
    <h4>My list of top 3 jobs:</h4>
    <ol>
        <li>Systems Analyst</li>
        <li>Technology Consultant </li>
        <li>Network Administration</li>
    </ol>

  


  
</body>
